<ion-header>
  <ion-toolbar>
    <ion-title>Final steps</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Videos</ion-card-title>
      <ion-card-subtitle>How to make burger</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <video width="100%" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
        class="videoPlayer">
        <source src="assets/burger.mp4">
      </video>
      <img alt="Silhouette of mountains" src="assets/burger.jpg" />
      <img alt="Silhouette of mountains" src="assets/ingredients.jpg" />
      <ion-button [routerLink]="['/home']">Back to home</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>