<ion-header>
  <ion-toolbar>
    <ion-title>About Recipe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/burger.jpg" />
      <ion-card-header>
        <ion-card-title>Burger</ion-card-title>
        <ion-card-subtitle>Fast food</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        A hamburger, or simply burger, is a food consisting of fillings—usually a patty of ground meat, typically
        beef—placed inside a sliced bun or bread roll. <br><br> 
        <ion-button [routerLink]="['/ingredients']">Ingredients</ion-button>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>