<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recipe App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>My Special <br>Recipe <br>Apps</h1>
    <p>How to make burger</p>
    <p>Amirul Asri - AM2107009004</p>
    <p>Build with Ionic </p>
    <ion-button [routerLink]="['/aboutrecipe']">Let's Start</ion-button>
  </div>
</ion-content>
